{% extends "base.html" %}

{% block title %}Edit Flashcard{% endblock %}

{% block content %}
<div class="record-form">
    <form action="{{ url_for('manage.edit_flashcard', id=flashcard['id']) }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-topic">
            {{ form.category.label(class="title") }}
            {% if form.category.errors %}
                {{ form.category(class='error-element', placeholder="Category ...", value=flashcard['category']) }}
                <p class="error-message">{{ form.category.errors[0] }}</p>
            {% else %}
                {{ form.category(placeholder="Category ...", value=flashcard['category']) }}
            {% endif %}
        </div>

        <div class="form-topic">
            {{ form.question.label(class="title") }}
            {% if form.question.errors %}
                <textarea class="error-element" id="question" name="question" placeholder="Flashcard Question ...">{{ flashcard['question'] | escape }}</textarea>
                <p class="error-message">{{ form.question.errors[0] }}</p>
            {% else %}
                <textarea id="question" name="question" placeholder="Flashcard Question ...">{{ flashcard['question'] | escape }}</textarea>
            {% endif %}
        </div>

        <div class="form-topic">
            {{ form.answer.label(class="title") }}
            {% if form.answer.errors %}
                <textarea class="error-element" id="answer" name="answer" placeholder="Flashcard Answer ...">{{ flashcard['answer'] | escape }}</textarea>
                <p class="error-message">{{ form.answer.errors[0] }}</p>
            {% else %}
                <textarea id="answer" name="answer" placeholder="Flashcard Answer ...">{{ flashcard['answer'] | escape }}</textarea>
            {% endif %}
        </div>

        <!-- EDIT QUESTION FIGURE -->
        <div class="form-topic">
            <div class="title">Would you like to add code or an image for the question?</div>
            <div class="radio-input">                
                <input type="radio" id="q-code-selection" name="q_figure_type" value="code" onclick="toggleQuestionFields('code')" {% if flashcard['q_code_example'] %}checked{% endif %}>
                <label for="q-code-selection">Code</label>
                <input type="radio" id="q-image-selection" name="q_figure_type" value="image" onclick="toggleQuestionFields('image')" {% if flashcard['q_image_example'] %}checked{% endif %}>
                <label for="q-image-selection">Image</label>
                <input type="radio" id="q-none-type" name="q_figure_type" value="none" onclick="toggleQuestionFields('none')" {% if not flashcard['q_code_example'] and not flashcard['q_image_example'] %}checked{% endif %}>
                <label for="q-none-type">None</label>
            </div>
        </div>
        
        <div class="form-topic" id="q-code-section" style="display: none;">
            <div class="title">Code Type (Question)</div>
            {% if form.q_code_type.errors %}
                <input type="text" class="error-element" name="q_code_type" id="q_code_type" list="code_type" value="{% if flashcard['q_code_type'] is not none %}{{ flashcard['q_code_type'] }}{% endif %}">
                <p class="error-message">{{ form.q_code_type.errors[0] }}</p>
            {% else %}
                <input type="text" name="q_code_type" id="q_code_type" list="code_type" value="{% if flashcard['q_code_type'] is not none %}{{ flashcard['q_code_type'] }}{% endif %}">
            {% endif %}
            <datalist id="code_type">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="cs">C#</option>
                <option value="css">CSS</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
                <option value="python">Python</option>
                <option value="sql">SQL</option>
            </datalist>
            <div class="title">Question Code Example</div>
            {% if form.q_code_example.errors %}
                {% if flashcard['q_code_example'] %}
                    <textarea class="error-element" id="q_code_example" name="q_code_example">{{ flashcard['q_code_example'] | escape }}</textarea>
                {% else %}
                    <textarea class="error-element" id="q_code_example" name="q_code_example" placeholder="Question Code ..."></textarea>
                {% endif %}
                <p class="error-message">{{ form.q_code_example.errors[0] }}</p>
            {% else %}
                {% if flashcard['q_code_example'] %}
                    <textarea id="q_code_example" name="q_code_example">{{ flashcard['q_code_example'] | escape }}</textarea>
                {% else %}
                    <textarea id="q_code_example" name="q_code_example" placeholder="Question Code ..."></textarea>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="form-topic" id="q-image-section" style="display: none;">
            {% if flashcard['q_image_example'] %}
                <div class="title">Current Image (Question)</div>
                <img class="card-image" id="q-card-image" src="{{ url_for('manage.get_image', filename=flashcard['q_image_example']) }}"
                    alt="{{ flashcard['qeustion_image_example'] }}">
                <input type="hidden" name="current-q-image" value="{{ flashcard['q_image_example'] }}">
                {{ form.q_old_image(value=flashcard['q_image_example']) }}
            {% endif %}
            <div class="title">Change Image (Question)</div>
            {% if form.q_image_example.errors %}
                {{ form.q_image_example(class='error-element', id='q_image_example') }}
                <p class="error-message">{{ form.q_image_example.errors[0] }}</p>
            {% else %}
                {{ form.q_image_example(id='q_image_example') }}
            {% endif %}
        </div>

        <!-- EDIT ANSWER FIGURE -->
        <div class="form-topic">
            <div class="title">Would you like to add code or an image for the answer?</div>
            <div class="radio-input">                
                <input type="radio" id="a-code-selection" name="a_figure_type" value="code" {% if flashcard['a_code_example'] %}checked{% endif %}>
                <label for="a-code-selection">Code</label>
                <input type="radio" id="a-image-selection" name="a_figure_type" value="image" {% if flashcard['a_image_example'] %}checked{% endif %}>
                <label for="a-image-selection">Image</label>
                <input type="radio" id="a-none-type" name="a_figure_type" value="none" {% if not flashcard['a_code_example'] and not flashcard['a_image_example'] %}checked{% endif %}>
                <label for="a-none-type">None</label>
            </div>
        </div>
        
        <div class="form-topic" id="a-code-section" style="display: none;">
            <div class="title">Code Type (Answer)</div>
            {% if form.a_code_type.errors %}
                <input type="text" class="error-element" name="a_code_type" id="a_code_type" list="code_type" value="{% if flashcard['a_code_type'] is not none %}{{ flashcard['a_code_type'] }}{% endif %}">
                <p class="error-message">{{ form.a_code_type.errors[0] }}</p>
            {% else %}
                <input type="text" name="a_code_type" id="a_code_type" list="code_type" value="{% if flashcard['a_code_type'] is not none %}{{ flashcard['a_code_type'] }}{% endif %}">
            {% endif %}
                <datalist id="code_type">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="cs">C#</option>
                <option value="css">CSS</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
                <option value="python">Python</option>
                <option value="sql">SQL</option>
            </datalist>
            <div class="title">Answer Code Example</div>
            {% if form.a_code_example.errors %}
                {% if flashcard['a_code_example'] %}
                    <textarea class="error-element" id="a_code_example" name="a_code_example">{{ flashcard['a_code_example'] | escape }}</textarea>
                {% else %}
                <textarea class="error-element" id="a_code_example" name="a_code_example" placeholder="Anwser Code ..."></textarea>
                {% endif %}
                <p class="error-message">{{ form.a_code_example.errors[0] }}</p>
            {% else %}
                {% if flashcard['a_code_example'] %}
                    <textarea id="a_code_example" name="a_code_example">{{ flashcard['a_code_example'] | escape }}</textarea>
                {% else %}
                    <textarea id="a_code_example" name="a_code_example" placeholder="Answer Code ..."></textarea>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="form-topic" id="a-image-section" style="display: none;">
            {% if flashcard['a_image_example'] %}
                <div class="title">Current Image (Answer)</div>
                <img class="card-image" id="a-card-image" src="{{ url_for('manage.get_image', filename=flashcard['a_image_example']) }}"
                    alt="{{ flashcard['a_image_example'] }}">
                {{ form.a_old_image(value=flashcard['a_image_example']) }}
            {% endif %}
            <div class="title">Change Image (Answer)</div>
            {% if form.a_image_example.errors %}
                {{ form.a_image_example(class='error-element', id='a_image_example') }}
                <p class="error-message">{{ form.a_image_example.errors[0] }}</p>
            {% else %}
                {{ form.a_image_example(id='a_image_example') }}
            {% endif %}
        </div>

        <button class="edit-btn" type="submit">Update Flashcard</button>

    </form>
</div>
{% endblock %}