{% extends "base.html" %}

{% block title %}View Flashcard{% endblock %}

{% block content %}

<div class="flashcard-content">
    <div class="form-topic">
        <h2>Category</h2>
        <p>{{ flashcard['category'] | escape }}</p>
    </div>

    <!-- QUESTION DATA -->
    <div class="form-topic">
        <h2>Question</h2>
        <p>{{ flashcard['question'] | escape }}</p>
    </div>

    {% if flashcard['q_code_example'] %}
        <div class="form-topic">
            <h2>Question Code</h2>
            <pre><code class="language-{{ flashcard['q_code_type'] }}">{{ flashcard['q_code_example'] | escape }}</pre></code>
        </div>
        <div class="form-topic">
            <h2>Question Code Type</h2>
            <p>{{ flashcard['q_code_type'] | escape }}</p>
        </div>
    {% endif %}

    {% if flashcard['q_image_example'] %}
        <div class="form-topic">
            <h2>Question Image</h2>
            <img class="card-image" src="{{ url_for('static', filename='images/' + flashcard['q_image_example']) }}" alt="{{ flashcard['q_image_example'] }}">
        </div>
    {% endif %}
    
    <!-- ANSWER DATA -->
    <div class="form-topic">
        <h2>Anwser</h2>
        <p>{{ flashcard['answer'] | escape }}</p>
    </div>

    {% if flashcard['a_code_example'] %}
        <div class="form-topic">
            <h2>Answer Code</h2>
            <pre><code class="language-{{ flashcard['a_code_type'] }}">{{ flashcard['a_code_example'] | escape }}</pre></code>
        </div>
        <div class="form-topic">
            <h2>Answer Code Type</h2>
            <p>{{ flashcard['a_code_type'] | escape }}</p>
        </div>
    {% endif %}

    {% if flashcard['a_image_example'] %}
        <div class="form-topic">
            <h2>Answer Image</h2>
            <img class="card-image" src="{{ url_for('static', filename='images/' + flashcard['a_image_example']) }}" alt="{{ flashcard['a_image_example'] }}">
        </div>
    {% endif %}

    <a class="edit-btn view-btn" href="{{ url_for('manage.edit_flashcard', id=flashcard['id']) | escape }}">
        Edit Flashcard
    </a>
</div>

{% endblock %}