* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ========== Body ========== */

body {
    background-color: #082048;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/* ========== Nav Bar ========== */

#nav-bar {
    padding: 10px 0px 10px 5px;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
}

.nav-tile {
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
    background: #FF7F00;
}

.nav-tile:hover {
    background: #F6B701;
    cursor: pointer;
}

.dropbtn {
    background-color: inherit;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #061632;
    min-width: 160px;
    box-shadow: 4px 4px 8px #000;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    display: block;
    text-align: left;
    border-radius: 4px;
}

.dropdown-content a:hover {
    background-color: #FF7F00;
}

.dropdown-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 1rem;
    border-radius: 4px;
}

/* ========== Flash Messages========== */

#flash-messages {
    margin: 0 4rem 1rem 4rem;
    height: 2rem;
    overflow: hidden;
}

.flash-message {
    padding: 5px;
    background-color: red;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

/* ========== Category Content [Home Page] ========== */

.home-element {
    display:flex;
    flex-direction: row;
    min-height: 80vh;
    height: fit-content;
    padding: 2rem;
}

.home-element-col {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.section {
    width: 50vw;
    margin: auto 1rem;
}

.section-center {
    text-align: center;
}

.header {
    color: #FF7F00;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.header-center {
    text-align: center;
    color: #FF7F00;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.description {
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 1rem 0;
}

#display-study-cards {
    background-color: #401D19;
}

#display-make-cards {
    background-color: #FF7F00;
}

#display-manage-cards {
    background-color: #FFFFFF;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
}

.category {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    background-color: #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-radius: 4px;
    padding: 14px;
    min-width: 12rem;
    box-shadow: 5px 8px 8px #000;
    margin: 0.5rem;
}

.category:hover {
    border-bottom: 5px solid #F6B701;
}

.home-button {
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.home-button a {
    background-color: #FF7F00;
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
    font-weight: bolder;
    border-radius: 30px;
    border: 1px solid #FF7F00;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 4px 4px 8px #000;
}

.home-button a:hover {
    background-color: #F6B701;
}

#home-element-make-card {
    background-color: #061632;
}

.gradient-border-top {
    width: 100%;
    height: 2rem;
    background: linear-gradient(to bottom, #082048, #061632);
}

.gradient-border-bottom {
    width: 100%;
    height: 2rem;
    background: linear-gradient(to top, #082048, #061632);
}

/* ---------- Flashcard Animations ---------- */

.display-section {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    margin: 0 1rem;
    overflow: hidden;
}

.flashcard-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
    z-index: 0;
    box-shadow: 5px 10px 8px #000;
}

.flip-flashcard,
.slide-flashcard {
    position: relative;
    margin: auto 0;
    width: 90%;
    height: 90%;
}

.background-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.background-card:nth-child(1) {
    transform: rotate(5deg);
    background-color: #f7d9ff;
    box-shadow: 1px 1px 10px #404040;
    z-index: -1;
}

.background-card:nth-child(2) {
    transform: rotate(-5deg);
    background-color: #add8e6;
    box-shadow: 1px 1px 10px #404040;
    z-index: -2;
}

.background-card:nth-child(3) {
    transform: rotate(10deg);
    background-color: #cdffcd;
    box-shadow: 1px 1px 10px #404040;
    z-index: -3;
}

.card-content-flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    box-shadow: 1px 1px 10px #404040;
}

.card-content-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: opacity 1s ease;
}

.display-side {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2rem;
}

.display-front,
.display-back {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
}

.display-back {
    transform: rotateY(180deg);
}

.card-content-slide.active-card {
    opacity: 0;
}

.card-content-slide:not(.active-card) {
    opacity: 1;
}

/* ---------- Display table ---------- */

.display-table {
    margin: 1rem;
}

/* ---------- Media Queries ---------- */
/* Media query for screens smaller than 600 pixels wide */
@media screen and (max-width: 800px) {
    .home-element:not(:nth-child(3)) {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 2rem;
    }

    .home-element:nth-child(3) {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        padding: 2rem;
    }   

    .section, .display-section {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }

    .display-section {
        height: 70vh;
    }

    .home-button {
    margin: 3rem 0 3rem 0;
    }

    .display-table tr:nth-child(3){
        display: none;
    }

}

/* ========== Flashcard Content [Flashcard Page] ========== */

.use-flashcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flashcard {
    background-color: transparent;
    width: 65vw;
    height: 65vh;
    perspective: 1000px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 5px 10px 8px #000;
}

.side {
    cursor: pointer;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.front, .back {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
}

.flash-button {
    border-radius: 1rem;
    width: 3rem;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
}

#previous-button, 
#next-button {
    background-color: #FF7F00;
}

#previous-button:hover,
#next-button:hover {
    cursor: pointer;
    background-color: #F6B701;
}

.buttons {
    margin: 1rem;
}

.buttons-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#shuffle-button {
    background-color: rgb(73, 73, 255);
}

#shuffle-button:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 253);
}

.question-num {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin: auto 2rem;
}

.card-image {
    border-radius: 4px;
    height: fit-content;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

/* ========== Flashcard Table [Manage Flashcard Page] ========== */

.questions-table {
    margin: 0 4rem 2rem 4rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #FFFFFF;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    width: 25%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

td pre {
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:last-child td {
    border-bottom: none;
}

.flash-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-cells {
    text-align: center;
    justify-content: space-around;
}

.action-links {
    display: flex;
    justify-content: right;
}

.action-cell {
    text-decoration: none;
    padding: 3px;
    margin: 0 0.4rem;
    border-radius: 4px;
    color: black;
    width: 1.75rem;
    min-width: 1.75rem;
    background-color: #FF7F00;
    box-shadow: 1px 1px 4px #000;
}

.action-cell:hover {
    color: #FFFFFF;
    background-color: #F6B701;
    box-shadow: none;
}

/* Hide less important columns on small screens */
@media screen and (max-width: 980px) {
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(5),
    td:nth-child(5){
        display: none;
    }
}

/* Stack rows vertically on small screens */
@media screen and (max-width: 500px) {
    tr {
        display: block;
        margin-bottom: 10px;
    }

    td, th {
        display: block;
        text-align: left;
        width: 100%;
    }
}

/* ========== Flashcard Content [View Flashcard Page] ========== */

.flashcard-content {
    background-color: #FFFFFF;
    box-shadow: 5px 10px 8px #000;
    margin: 0 auto 4rem auto;
    padding: 1rem;
    border-radius: 8px;
    width: 60vw;
}

.flashcard-content-inner {
    margin: 1rem;
    border-top: 1px solid #ddd;;
}

.flashcard-content-inner:first-child {
    border-top: none;
}

/* ========== Flashcard Content [Edit, Add Flashcard Page] ========== */

.flashcard-content-inner textarea,
.flashcard-content-inner input:not(input[type='radio']) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    overflow-y: auto;
    padding: 4px;
}

.radio-input {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

#image-selection,
#none-type {
    margin-left: 10%;
}

.radio-input label {
    margin-left: 10px;
}

form button {
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
}

form button:hover {
    cursor: pointer;
    background-color: rgb(253, 60, 60);
}

/* ========== Footer ========== */

footer {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.2);
}