{% extends "base.html" %}

{% block title %}Add Flashcard{% endblock %}

{% block content %}

<div class="flashcard-content">

    <form action="{{ url_for('create_flashcard_route') }}" method="post" enctype="multipart/form-data">

        <div class="flashcard-content-inner">
            <h2>Category</h2>
            <textarea id="category" name="category" rows="4" oninput="validateText('category')" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Question</h2>
            <textarea id="question" name="question" rows="4" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Answer</h2>
            <textarea id="answer" name="answer" rows="4" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Optional: Would you like to add a code example or image?</h2>
            <div class="radio-input">
                <input type="radio" id="code-selection" name="input-type" value="code" onclick="toggleFields('code')">
                <label for="code">Code</label>
                <input type="radio" id="image-selection" name="input-type" value="image" onclick="toggleFields('image')">
                <label for="image">Image</label>
                <input type="radio" id="none-type" name="input-type" value="none" checked onclick="toggleFields('none')">
                <label for="none-type">None</label>
            </div>
        </div>

        <div class="flashcard-content-inner" id="code-section" style="display: none;">
            <h2>Code Type</h2>
            <input type="text" name="code-type" id="code-sel" list="code-type">
            <datalist id="code-type">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="cs">C#</option>
                <option value="css">CSS</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
                <option value="python">Python</option>
                <option value="sql">SQL</option>
            </datalist>
            <h2>Code Example</h2>
            <textarea id="code-ex" name="code-ex" rows="6"></textarea>
        </div>

        <div class="flashcard-content-inner" id="image-section" style="display: none;">
            <h2>Image</h2>
            <input type="file" id="image-ex" name="image-ex">
        </div>

        <button class="edit-btn" type="submit">Add Flashcard</button>

    </form>

</div>

{% endblock %}