{% extends "base.html" %}

{% block title %}Add Flashcard{% endblock %}

{% block content %}

<div class="flashcard-content">

    <form action="{{ url_for('create_flashcard_route') }}" method="post" enctype="multipart/form-data">

        <div class="flashcard-content-inner">
            <h2>Category</h2>
            <textarea id="category" name="category" rows="4" oninput="validateText('category')" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Question</h2>
            <textarea id="question" name="question" rows="4" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Answer</h2>
            <textarea id="answer" name="answer" rows="4" required></textarea>
        </div>

        <div class="flashcard-content-inner">
            <h2>Optional: Would you like to add a code example or image?</h2>
            <input type="radio" id="code" name="code" value="code">
            <label for="code">Code</label>
            <input type="radio" id="image" name="image" value="image">
            <label for="image">Image</label>
        </div>

        <div class="flashcard-content-inner">
            <h2>Code</h2>
            <input type="text" name="code-type" id="code-sel" list="code-type">
            <datalist id="code-type">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="cs">C#</option>
                <option value="css">CSS</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
                <option value="python">Python</option>
                <option value="sql">SQL</option>
            </datalist>
            <textarea id="code" name="code" rows="6"></textarea>
        </div>

        <div class="flashcard-content-inner" hidden>
            <h2>Image</h2>
            <input type="file" id="image" name="image">
        </div>

        <button type="submit">Add Flashcard</button>

    </form>

</div>

{% endblock %}