{% extends "base.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
<div class="use-flashcard">

    <button class="side-button" id="previous-button" onclick="showPreviousFlashcard()">Prev</button>

    {% for index in range(length) %}
    <div class="flashcard" id="flashcard-{{ index }}">
        <div class="card-content" id="flashcard-{{ index }}-content">
            <div class="side front" id="flashcard-{{ index }}-front">
                <h2>Question</h2>
                <p>{{ data['questions'][index]['question'] | escape }}</p>
            </div>
            <div class="side back" id="flashcard-{{ index }}-back">
                <h2>Answer</h2>
                <p>{{ data['questions'][index]['answer'] | escape }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <button class="side-button" id="next-button" onclick="showNextFlashcard()">Next</button>

</div>

<div class="buttons">
    <button id="shuffle-button" onclick="shuffleFlashcards()">Shuffle</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            showFlashcard(0);
        });
</script>

{% endblock %}