{% extends "base.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
<div class="use-flashcard">
    <div class="background-flashcard"></div>
    <div class="background-flashcard"></div>
    <div class="background-flashcard"></div>
    <div class="background-flashcard"></div>

    {% for index in range(length) %}
    <div class="flashcard" id="flashcard-{{ index }}">
        <div class="card-content" id="flashcard-{{ index }}-content">
            <div class="side front" id="flashcard-{{ index }}-front">
                
                {% if data['questions'][index]['image_file'] %}
                <!-- Display image with question window -->
                    {% if data['questions'][index]['question'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ data['questions'][index]['question'] | escape }}</div>
                    {% endif %}

                <img class="card-image" src="{{ url_for('static', filename='images/' + data['questions'][index]['image_file']) }}" alt="{{ data['questions'][index]['image_path'] }}">

                
                {% elif data['questions'][index]['code'] %}
                <!-- Display code with question window -->
                    {% if data['questions'][index]['question'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ data['questions'][index]['question'] | escape }}</div>
                    {% endif %}

                <pre><code class="language-{{ data['questions'][index]['code_type'] }}">{{ data['questions'][index]['code'] | escape }}</code></pre>
                
                {% else %}
                <!-- Display plain text with no window -->
                <div class="question">{{ data['questions'][index]['question'] | escape }}</div>
                {% endif %}

            </div>
            <div class="side back" id="flashcard-{{ index }}-back">
                <div class="answer">{{ data['questions'][index]['answer'] | escape }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="buttons">
    <div class="buttons-inner">
        <button class="flash-button" id="previous-button" onclick="showPreviousFlashcard()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/left-arrow.png') }}" alt="Prev">
        </button>

        <div class="question-num" id="question-num"></div>

        <button class="flash-button" id="next-button" onclick="showNextFlashcard()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/right-arrow.png') }}" alt="Next">
        </button>
    </div>

    <div class="buttons-inner">
        <button class="flash-button" id="shuffle-button" onclick="shuffleFlashcards()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/shuffle.png') }}" alt="Shuffle">
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            showFlashcard(0);
        });
</script>

{% endblock %}