{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home-element">
    <div class="description">
        <div class="header">Study Flashcards</div>
        <p>
            Use flashcards to memorize important terms for job interviews or school. You can find or create flashcards for any subjest 
            such as computer science, math, and so on.
        </p>
    </div>

    <div class="flashcard-display">
        
    </div>
</div>

<div class="home-element">
    <div class="flashcard-display">
        
    </div>

    <div class="description">
        <div class="header">Make Flashcards</div>
        <p>
            Can't find the right flashcards, no problem just add a new one or create a new set. Simply add a category, question, 
            and an answer. You can even add an image or code block if you choose.
        </p>
        <div class="home-button">
            <a href="{{  url_for('add_flashcard_route')  }}">Create Flashcard</a>
        </div>
    </div>
</div>

<div class="home-element">
    <div class="description">
        <div class="header">Manage Flashcards</div>
        <p>
            After creating your flashcards you can easily manage them. This enables you to view all the flashcards details, 
            edit any mistakes, update it with new information, or simply remove the flashcard all together.
        </p>
        <div class="home-button">
            <a href="{{  url_for('manage_flashcards_route')  }}">Manage Flashcards</a>
    
        </div>
    </div>
    <div class="flashcard-display">
        
    </div>
</div>

<div class="home-element-col">
    <div class="description-center">
        <div class="header-center">Explore Flashcards</div>
    </div>

    <div class="categories">
        {% for key, value in data.items() %}
        <a class="category" href="{{ url_for('flashcard_route', category=key) | escape }}">
            <div>
                {{ key | escape }}
            </div>
            <div>
                {{ value | escape }} Questions
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}