{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home-element">
    <div class="section">
        <div class="header">Study Flashcards</div>
        <div class="description">
            Mastering key concepts for job interviews or acing those exams just got easier! Explore a world of flashcards designed
            for every subject imaginable — be it computer science, math, or any other field. Whether you find the perfect deck or
            create your own, success is just a flashcard away!
        </div>
    </div>

    <div class="flashcard-display">
        
    </div>
</div>

<div class="home-element" id="home-element-make-card">
    <div class="flashcard-display">
        
    </div>

    <div class="section">
        <div class="header">Make Flashcards</div>
        <div class="description">
            Struggling to find the perfect flashcards? No worries! Easily craft your own by adding a new card or creating an
            entirely new set. Just input a category, question, and answer — simple as that! Feel free to enhance your cards with
            images or code blocks if you like. The possibilities are endless!
        </div>
        <div class="home-button">
            <a href="{{  url_for('add_flashcard_route')  }}">Create Flashcard</a>
        </div>
    </div>
</div>

<div class="home-element">
    <div class="section">
        <div class="header">Manage Flashcards</div>
        <div class="description">
            Once you've crafted your flashcards, take control! Effortlessly manage them by viewing details, fixing any errors,
            updating with new info, or removing cards altogether. It's your personalized flashcard experience — all at your
            fingertips!
        </div>
        <div class="home-button">
            <a href="{{  url_for('manage_flashcards_route')  }}">Manage Flashcards</a>
    
        </div>
    </div>
    <div class="flashcard-display">
        
    </div>
</div>

<div class="home-element-col">
    <div class="section-center">
        <div class="header-center">Explore Flashcards</div>
    </div>

    <div class="categories">
        {% for key, value in data.items() %}
        <a class="category" href="{{ url_for('flashcard_route', category=key) | escape }}">
            <div>
                {{ key | escape }}
            </div>
            <div>
                {{ value | escape }} Questions
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}