{% extends "base.html" %}

{% block title %}Manage Flashcards{% endblock %}

{% block content %}

<div class="questions-table">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Question</th>
                <th>Code</th>
                <th>Image</th>
                <th>Answer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for value in data['questions'] %}
            <tr>
                <td id="category-cell" class="flash-cell">{{ value['category'] | escape }}</td>
                <td id="question-cell" class="flash-cell">{{ value['question'] | escape }}</td>
                <td id="code-cell" class="flash-cell">{{ value['code'] | escape }}</td>
                <td id="image-cell" class="flash-cell">{{ value['image_path'] | escape }}</td>
                <td id="answer-cell" class="flash-cell">{{ value['answer'] | escape }}</td>
                <td class="action-cell">
                    <div class="action-links">
                        <a class="view-cell" href="{{ url_for('view_flashcard_route', key=value['key']) | escape }}">view</a>
                        <a class="edit-cell" href="{{ url_for('edit_flashcard_route', key=value['key']) | escape }}">edit</a>
                        <a class="delete-cell" href="#" data-question="{{ value['key'] | escape }}">delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}