{% extends "base.html" %}

{% block title %}Manage Flashcards{% endblock %}

{% block content %}
<div class="search-container">
    <form class="category-search" action="#" method="post">
        <div class="search-wrapper">
            <input type="text" class="search" id="search" name="search" placeholder="Search Category ..." autocomplete="on">
            <button class="search-btn" type="submit">
                <img class="search-image" src="{{ url_for('static', filename='images/icons/search.png') }}">
            </button>
        </div>
    </form>
</div>

<div class="questions-table">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Code<br>(Question)</th>
                <th>Image<br>(Question)</th>
                <th>Code<br>(Answer)</th>
                <th>Image<br>(Answer)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for value in data['questions'] %}
            <tr>
                <td class="flash-cell">{{ value['category'] | escape }}</td>
                <td class="flash-cell">{{ value['question'] | escape }}</td>
                <td class="flash-cell">{{ value['answer'] | escape }}</td>

                <td class="flash-cell">
                    {% if value['q_code_block'] %}
                    <pre><code>{{ value['q_code_block'] | escape }}</code></pre>
                    {% endif %}
                </td>
                
                <td class="flash-cell">
                    {% if value['q_image_file'] %}
                    <img class="card-image" src="{{ url_for('static', filename='images/' + value['q_image_file']) }}"
                        alt="{{ value['q_image_file'] }}">
                    {% endif %}
                </td>

                <td class="flash-cell">
                    {% if value['a_code_block'] %}
                    <pre><code>{{ value['a_code_block'] | escape }}</code></pre>
                    {% endif %}
                </td>
                
                <td class="flash-cell">
                    {% if value['a_image_file'] %}
                    <img class="card-image" src="{{ url_for('static', filename='images/' + value['a_image_file']) }}"
                        alt="{{ value['a_image_file'] }}">
                    {% endif %}
                </td>
                
                <td class="action-cells">
                    <div class="action-links">
                        <a class="action-cell view-cell" href="{{ url_for('view_flashcard_route', key=value['key']) | escape }}">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/view.png') }}" alt="view">
                        </a>
                        <a class="action-cell edit-cell" href="{{ url_for('edit_flashcard_route', key=value['key']) | escape }}">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/edit.png') }}" alt="edit">
                        </a>
                        <a class="action-cell delete-cell" href="#" data-question="{{ value['key'] | escape }}">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/delete.png') }}" alt="delete">
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}