{% extends "base.html" %}

{% block title %}View Flashcard{% endblock %}

{% block content %}

<div class="flashcard-content">

    <div class="flashcard-content-inner">
        <h2>Category</h2>
        <p>{{ data['category'] }}</p>
    </div>
    <div class="flashcard-content-inner">
        <h2>Question</h2>
        <p>{{ data['question'] }}</p>
    </div>
    <div class="flashcard-content-inner">
        <h2>Code</h2>
        <p>{{ data['code'] }}</p>
    </div>
    <div class="flashcard-content-inner">
        <!--TODO:Change to image tag-->
        <h2>Image</h2>
        <p>{{ data['image'] }}</p>
    </div>
    <div class="flashcard-content-inner">
        <h2>Anwser</h2>
        <p>{{ data['answer'] }}</p>
    </div>

</div>

{% endblock %}