{% extends "base.html" %}

{% block title %}View Flashcard{% endblock %}

{% block content %}

<div class="flashcard-content">
    <div class="flashcard-content-inner">
        <h2>Category</h2>
        <p>{{ data['category'] | escape }}</p>
    </div>

    <!-- QUESTION DATA -->
    <div class="flashcard-content-inner">
        <h2>Question</h2>
        <p>{{ data['question'] | escape }}</p>
    </div>

    {% if data['q_code_block'] %}
        <div class="flashcard-content-inner">
            <h2>Question Code</h2>
            <pre><code class="language-{{ data['q_code_type'] }}">{{ data['q_code_block'] | escape }}</pre></code>
        </div>
        <div class="flashcard-content-inner">
            <h2>Question Code Type</h2>
            <p>{{ data['q_code_type'] | escape }}</p>
        </div>
    {% endif %}

    {% if data['q_image_file'] %}
        <div class="flashcard-content-inner">
            <h2>Question Image</h2>
            <img class="card-image" src="{{ url_for('static', filename='images/' + data['q_image_file']) }}" alt="{{ data['q_image_file'] }}">
        </div>
    {% endif %}
    
    <!-- ANSWER DATA -->
    <div class="flashcard-content-inner">
        <h2>Anwser</h2>
        <p>{{ data['answer'] | escape }}</p>
    </div>

    {% if data['a_code_block'] %}
        <div class="flashcard-content-inner">
            <h2>Answer Code</h2>
            <pre><code class="language-{{ data['a_code_type'] }}">{{ data['a_code_block'] | escape }}</pre></code>
        </div>
        <div class="flashcard-content-inner">
            <h2>Answer Code Type</h2>
            <p>{{ data['a_code_type'] | escape }}</p>
        </div>
    {% endif %}

    {% if data['a_image_file'] %}
        <div class="flashcard-content-inner">
            <h2>Answer Image</h2>
            <img class="card-image" src="{{ url_for('static', filename='images/' + data['a_image_file']) }}" alt="{{ data['a_image_file'] }}">
        </div>
    {% endif %}

    <a class="edit-btn view-btn" href="{{ url_for('edit_flashcard_route', key=data['key']) | escape }}">
        Edit Flashcard
    </a>
</div>

{% endblock %}