<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" content="">
        <meta name="keywords" content="">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
       
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="nav-bar">
            <nav class="nav">
                <a href="{{  url_for('main.index')  }}" class="nav-tile {% if nav_id == 'home-page' %}active{% endif %}">Home</a>
                <a href="{{  url_for('manage.index')  }}" class="nav-tile {% if nav_id == 'manage-page' %}active{% endif %}">Manage Cards</a>
                <a href="{{  url_for('manage.add_flashcard')  }}" class="nav-tile {% if nav_id == 'add-page' %}active{% endif %}">Add Card</a>
                
                <div class="dropdown {% if nav_id == 'flashcard-page' %}active{% endif %}">
                    <button class="dropbtn nav-tile">Flashcards</button>
                    <div class="dropdown-content" style="display: none;">
                        {% for category, count in categories.items() %}
                            <a href="{{ url_for('main.flashcard', category=category) | escape }}">{{ category | escape }}</a>
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </div>

        <!-- Flash messages -->
        <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        
        <!--Contains All Content Tiles-->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer></footer>

        <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    </body>
</html>