{% extends "base.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
<div class="use-flashcard">
    <!-- Next Card -->
    <div class="background-flashcard" onclick="showNextFlashcard()">
        <div class="next-num">Next</div>
    </div>
    <div class="background-flashcard"></div>
    <div class="background-flashcard"></div>
    <!-- Previous Card -->
    <div class="background-flashcard" onclick="showPreviousFlashcard()">
        <div class="prev-num">Prev</div>
    </div>

    {% for flashcard in flashcards %}
    <div class="flashcard" id="flashcard-{{ index }}">
        <div class="card-content" id="flashcard-{{ index }}-content">
            <div class="side front" id="flashcard-{{ index }}-front">
                
                {% if flashcard['q_image_example'] %}
                <!-- Display image with question window -->
                    {% if flashcard['question'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ flashcard['question'] | escape }}</div>
                    {% endif %}

                <img class="card-image" src="{{ url_for('static', filename='images/' + flashcard['q_image_example']) }}" alt="{{ flashcard['q_image_path'] }}">
                
                {% elif flashcard['q_code_example'] %}
                <!-- Display code with question window -->
                    {% if flashcard['question'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ flashcard['question'] | escape }}</div>
                    {% endif %}

                <pre><code class="language-{{ flashcard['q_code_type'] }}">{{ flashcard['q_code_example'] | escape }}</code></pre>
                
                {% else %}
                <!-- Display plain text with no window -->
                <div class="question">{{ flashcard['question'] | escape }}</div>
                {% endif %}

            </div>
            <div class="side back" id="flashcard-{{ index }}-back">

                {% if flashcard['a_image_example'] %}
                <!-- Display image with question window -->
                    {% if flashcard['answer'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ flashcard['answer'] | escape }}</div>
                    {% endif %}

                <img class="card-image" src="{{ url_for('static', filename='images/' + flashcard['a_image_example']) }}" alt="{{ flashcard['a_image_path'] }}">

                {% elif flashcard['a_code_example'] %}
                <!-- Display code with question window -->
                    {% if flashcard['answer'] %}
                    <div class="question-button">
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/question.png') }}" alt="question">
                    </div>
                    <div class="question-window">{{ flashcard['answer'] | escape }}</div>
                    {% endif %}

                <pre><code class="language-{{ flashcard['a_code_type'] }}">{{ flashcard['a_code_example'] | escape }}</code></pre>
                
                {% else %}
                <!-- Display plain text with no window -->
                <div class="answer">{{ flashcard['answer'] | escape }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="buttons">
    <div class="buttons-inner">
        <button class="flash-button" id="previous-button" onclick="showPreviousFlashcard()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/left-arrow.png') }}" alt="Prev">
        </button>

        <div class="question-num" id="question-num"></div>

        <button class="flash-button" id="next-button" onclick="showNextFlashcard()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/right-arrow.png') }}" alt="Next">
        </button>
    </div>

    <div class="buttons-inner">
        <button class="flash-button" id="shuffle-button" onclick="shuffleFlashcards()">
            <img class="icon-button" src="{{ url_for('static', filename='images/icons/shuffle.png') }}" alt="Shuffle">
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            showFlashcard(0);
        });
</script>

{% endblock %}